.a1{margin:25px;font-size:20px;}
.ingredient{background:#efefef;}
 .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 25px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
	  }
	   .navbar a{text-decoration:none;color:#efefef;}
	   
	   
.container{float:left;margin:20px;box-shadow:15px 15px 15px 15px black;background:#efefef;}
.header{float:left;margin:20px;color:red;}